<div class="container">
  <mat-spinner *ngIf="isLoading else loaded"></mat-spinner>
  <ng-template #loaded>
  <mat-card class="add-ing-body"><mat-card-title>Add Product Variant for {{product!.name}} </mat-card-title>
    <form [formGroup]="formGroup">
      <mat-card>
        <mat-form-field appearance="fill" color="primary">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" color="primary">
          <mat-label>Quantity</mat-label>
          <input matInput type="number" formControlName="quantity">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" color="primary">
          <mat-label>Unit</mat-label>
          <input matInput type="text" formControlName="unit">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" color="primary">
          <mat-label>Price</mat-label>
          <input matInput type="real" formControlName="price">
        </mat-form-field>
          <button mat-raised-button color="primary" class="btn-add" [disabled]="formGroup.invalid" (click)="addProductVariant()">Add Product Variant</button>
          <button mat-raised-button color="primary" class="btn-add" (click)="goToPage(page)" >Go Back</button>
      </mat-card>

    </form>

  </mat-card>
    </ng-template>
</div>
