<h1>Your Cart</h1>

<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="!isLoading">
  <ul>
    <li *ngFor="let cartItem of cartItems; index as i">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{ cartItem!.productVariant!.product!.name }}
            <mat-chip color="accent" selected>{{ cartItem!.productVariant!.name }}</mat-chip>
          </mat-card-title>
          <span class="spacer"></span>
          <div class="price">
            <mat-form-field>
              <input matInput type="number" [(ngModel)]="cartItem.quantity" (change)="modifyCartItem()"
                     min="0">
            </mat-form-field>
            *
            <span class="product-variant-price">{{ cartItem!.productVariant!.price }} €</span>
            =
            <span class="cart-item-price">
            {{ cartItem!.productVariant!.price * cartItem!.quantity}} €
          </span>
          </div>
        </mat-card-header>
        <mat-card-content>
          <mat-chip-list>
            <mat-chip *ngFor="let ingredient of cartItem!.productVariant!.product!.ingredients">
              {{ ingredient.name }}
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </li>
    <li>
      <mat-card *ngIf="cartItems.length > 0" class="total">
        <p>Total: {{ getTotal() }} €</p>
      </mat-card>
    </li>
  </ul>

  <p *ngIf="cartItems.length <= 0">
    Your cart is empty.
  </p>

  <mat-radio-group [(ngModel)]="selectedAddressId">
    <h2>Select an address:</h2>
    <ul style="padding: 0">
      <li *ngFor="let address of addresses">
        <mat-card>
          <div>
            <mat-radio-button [value]="address.id"></mat-radio-button>
          </div>
          <div>
            <h2>{{address.addressLine}}</h2>
            <h3>{{address.county}}, {{address.city}}</h3>
            <h3>Postal Code: {{address.postalCode}}</h3>
            <h3>Phone: {{address.phoneNumber}}</h3>
          </div>
        </mat-card>
      </li>
    </ul>
    <p *ngIf="addresses.length <= 0" style="color: red">
      You don't have any addresses.
    </p>
  </mat-radio-group>

  <div id="cart-actions">
    <button mat-raised-button [disabled]="cartItems.length <= 0" (click)="emptyCart()">Empty Cart</button>
    <span class="spacer"></span>
    <button [disabled]="!hasChanged" (click)="updateCart()" mat-raised-button>
      Update
    </button>
    <button [disabled]="hasChanged || cartItems.length <= 0 || !selectedAddressId" mat-raised-button color="primary" (click)="order()">
      Order
    </button>
  </div>
</div>
