<h1>Menu</h1>

<ul>
  <li *ngFor="let product of products; index as i">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ product.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let ingredient of product.ingredients; index as j">
          <mat-chip-list aria-label="Info-label">
            <mat-chip class="ingredient-button" color="accent" selected>{{ingredient.name}}</mat-chip>
          </mat-chip-list>
        </div>
        <span class="spacer"></span>
        <ng-container *ngIf="userCanEdit()">
          <a routerLink="/products/{{product.id!}}" mat-raised-button class="info-button" color="primary">Edit</a>
          <button mat-raised-button class="info-button" color="warn" (click)="deleteProduct(product.id!)">Delete</button>
        </ng-container>
        <button mat-raised-button color="accent" (click)="addToCart(product)">Add to Cart</button>
      </mat-card-content>
    </mat-card>
  </li>
</ul>

<p *ngIf="products.length <= 0">
  <mat-card><mat-card-title>You don't have any products. </mat-card-title></mat-card>
</p>

<div *ngIf="userCanEdit()" class="ingredients-actions">
  <a routerLink="/products/new" mat-raised-button class = "info-button" color="primary">Add Product</a>
</div>
