<ul>
  <li *ngFor="let product of products; index as i">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ product.name}}</mat-card-title>
          <div *ngFor="let ingredient of product.ingredients; index as j">
            <mat-chip-list aria-label="Info-label">
              <mat-chip class="ingredient-button" color="accent" selected>{{ingredient.name}}</mat-chip>
            </mat-chip-list>
          </div>
        <div class="button-row">
          <a routerLink="/products/{{product.id!}}" mat-raised-button class = "info-button" color="primary">Edit</a>
          <button mat-raised-button class = "info-button" color="warn" (click)="deleteProduct(product.id!)">Delete</button>
        </div>
        <span class="spacer"></span>
      </mat-card-header>
    </mat-card>
  </li>
</ul>

<p *ngIf="products.length <= 0">
  <mat-card><mat-card-title>You don't have any products. </mat-card-title></mat-card>
</p>
<div class="ingredients-actions">
  <a routerLink="/product/new" mat-raised-button class = "info-button" color="primary">Add Product</a>
  <span class="spacer"></span>
</div>
