#logo {
  color: #673ab7;
  text-decoration: none;
}

#logo:visited {
  color: #673ab7;
}

mat-toolbar .spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  gap: 0.5rem;
}

main {
  padding: 1rem;
  max-width: 60rem;
  margin: 0 auto;
}
