<div class="container">
  <mat-spinner *ngIf="isLoading else loaded"></mat-spinner>
  <ng-template #loaded>
    <mat-card class="add-ing-body" ><mat-card-title>Update User {{user.firstName}} {{user.lastName}}</mat-card-title>
      <form [formGroup]="formGroup">
        <mat-card>
          <mat-form-field appearance="fill" color="primary">
            <mat-label>First Name</mat-label>
            <input matInput type="text" formControlName="firstname">
          </mat-form-field>
          <mat-form-field appearance="fill" color="primary">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" formControlName="lastname">
          </mat-form-field>
          <h3>Select user role:</h3>
          <p><mat-checkbox formControlName="admin">Admin</mat-checkbox></p>
          <p><mat-checkbox formControlName="manager" >Manager</mat-checkbox></p>
          <p><mat-checkbox formControlName="store-employee" >Store employee</mat-checkbox></p>
          <p><mat-checkbox formControlName="delivery-employee" >Delivery employee</mat-checkbox></p>
          <p><mat-checkbox formControlName="loyal-customer" >Loyal customer</mat-checkbox></p>
          <p><mat-checkbox formControlName="customer" >Customer</mat-checkbox></p>
        </mat-card>

      </form>
      <button mat-raised-button color="primary" class="btn-add" [disabled]="formGroup.invalid" (click)="updateUsr()">Update User</button>
      <button mat-raised-button color="primary" class="btn-add" (click)="goToPage('/users/list')">Go Back</button>
    </mat-card>
  </ng-template>
</div>
