<h1>Orders</h1>

<div *ngIf="!isLoading">
  <p *ngIf="!orders.length">No orders have been made.</p>

  <ul>
    <li *ngFor="let order of orders">
      <mat-card>
        <mat-card-title>Order #{{ order.id }}</mat-card-title>
        <p>{{ order.address!.county }}, {{ order.address!.city }}, {{ order.address!.addressLine }}</p>
        <ul>
          <li *ngFor="let orderItem of order.orderItems; index as i">
            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  {{ orderItem!.productVariant!.product!.name }}
                  <mat-chip color="accent" selected>{{ orderItem!.productVariant!.name }}</mat-chip>
                </mat-card-title>
                <span class="spacer"></span>
                <div class="price">
                  <span>{{ orderItem.quantity }}</span>
                  *
                  <span class="product-variant-price">{{ orderItem!.productVariant!.price }} €</span>
                  =
                  <span class="cart-item-price">
                    {{ orderItem!.productVariant!.price * orderItem!.quantity}} €
                  </span>
                </div>
              </mat-card-header>
              <mat-card-content>
                <mat-chip-list>
                  <mat-chip *ngFor="let ingredient of orderItem!.productVariant!.product!.ingredients">
                    {{ ingredient.name }}
                  </mat-chip>
                </mat-chip-list>
              </mat-card-content>
            </mat-card>
          </li>
          <li>
            <mat-card *ngIf="order.orderItems!.length > 0" class="total">
              <p>Total: {{ getTotalForOrder(order) }} €</p>
            </mat-card>
          </li>
        </ul>
        <mat-card-actions *ngIf="canEditOrders()">
          <button mat-raised-button color="warn" (click)="deleteOrder(order.id)">Delete</button>
        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
</div>

<mat-spinner *ngIf="isLoading"></mat-spinner>
