.info-ingredient{
  display:      inline-block;
  float: left;
  text-space: 10px;
}
.buttons{
  padding-left: 20px;
  position: center;
}
.btn-add{
  margin-top: 20px;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}
.add-ing-body{
  height: 100%;
}
.container{

}
li{
  list-style-type: none;
}
.display-list-item{
  height: 75px;
  border-spacing: 5px;
}
.product-add-buttons{
  height: 50px;
}
